/*
	 Plugin Name: Js-Dropdown-List	 
 
*/
#country_name { display:block; }
#country_district {
  display: block;
  margin: 0;
}
#country_zipcode {
  display: block;
  margin: 0;
}  
.chack-boxs {
  float: left;
  margin-right: 30px;
}

.info-box-row {
	padding-bottom: 6px;
}

@media screen and (max-width:769px){
	.info-box-row {
		padding-bottom: 10px;
	}
}